@import "tailwindcss";

@theme {
  --animate-darken: darken 5s infinite;

  @keyframes darken {
    0% { font-size: 25px; color: crimson; }
    50% { font-size: 50px; color: crimson; }
    100% { font-size: 70px; color: crimson; }
  }
}
